<Label text="Details"></Label>

<RadDataForm #itemDetailsDataForm [source]="item" commitMode="Manual">

    <TKEntityProperty tkDataFormProperty name="title" displayName="Title" index="1" hintText="Title">
        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
            <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
        </TKPropertyEditor>
        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Title can't be empty."></TKNonEmptyValidator>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="description" displayName="Description" index="2" required="true" hintText="description">
        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
            <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
        </TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="type" displayName="Type" index="3" [valuesProvider]="itemTypesProvider">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="status" displayName="Status" index="4" [valuesProvider]="statusesProvider">
        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="estimate" displayName="Estimate" index="5">
        <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="priority" displayName="Priority" index="6" [valuesProvider]="prioritiesProvider">
        <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor">
            <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
        </TKPropertyEditor>
    </TKEntityProperty>



    <TKEntityProperty tkDataFormProperty name="assignee" displayName="Assignee" index="7">
        <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
            (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
    </TKEntityProperty>

    <!-- start hidden fields -->
    <TKEntityProperty tkDataFormProperty name="id" hidden="true">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>

    <TKEntityProperty tkDataFormProperty name="tasks" hidden="true">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="comments" hidden="true">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="dateCreated" hidden="true">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkDataFormProperty name="dateModified" hidden="true">
        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
    </TKEntityProperty>
    <!-- end hidden fields -->
</RadDataForm>

<Button (tap)="onDialogSaveTap($event)" class="btn" text="Save"></Button>


<Label #btnTapHtml [text]="currentAssigneeName" (tap)="onAssigneeTap($event)"></Label>
