<GridLayout rows="50, 30, *">

    <StackLayout row="0">
        <Label [text]="selectedValue" row="0" (tap)="onSelectorTap2()"></Label>
        <Button (tap)="onDialogSaveTap($event)" class="btn" text="Save" row=""></Button>
        <Image width="30" height="30" [src]="item.assignee.avatar"></Image>
    </StackLayout>

    <GridLayout row="1">
        <Label #btnTapHtml class="text" [text]="selectedValue" (tap)="onSelectorTap2()"></Label>
    </GridLayout>


    <RadDataForm #itemDetailsDataForm [source]="itemForm" commitMode="Manual" row="2">

        <TKEntityProperty tkDataFormProperty name="title" displayName="Title" index="1" hintText="Title">
            <TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Title can't be empty."></TKNonEmptyValidator>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="description" displayName="Description" index="2" required="true" hintText="description">
            <TKPropertyEditor tkEntityPropertyEditor type="MultilineText">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="typeStr" displayName="Type" index="3" [valuesProvider]="itemTypesProvider">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="statusStr" displayName="Status" index="4" [valuesProvider]="statusesProvider">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="estimate" displayName="Estimate" index="5">
            <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="priorityStr" displayName="Priority" index="6" [valuesProvider]="prioritiesProvider">
            <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="green" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="assigneeName" displayName="Assignee" index="7">
            <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)"></TKCustomPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>

</GridLayout>
