<Label text="Details"></Label>

<StackLayout (tap)="onTitleTap($event)">
    <Label text="Title"></Label>
    <Label [text]="item.title"></Label>
</StackLayout>

<StackLayout (click)="onDescriptionTap($event)">
    <Label text="Description"></Label>
    <Label [text]="item.description"></Label>
</StackLayout>


<Button (tap)="onDialogSaveTap($event)" class="btn" text="Save"></Button>

<!--app-dialog [(visible)]="showDialog">
    <StackLayout [ngSwitch]="editingProp">
        <ng-template [ngSwitchCase]="'title'">
            <Label text="Edit Title"></Label>
            <StackLayout>
                <Label text="Title"></Label>
                <TextField hint="title" [(ngModel)]="item.title"></TextField>
            </StackLayout>
        </ng-template>
        <ng-template [ngSwitchCase]="'description'">
            <Label text="Edit Description"></Label>
            <StackLayout>
                <Label text="Description"></Label>
                <TextField hint="description" [(ngModel)]="item.description"></TextField>
            </StackLayout>
        </ng-template>
    </StackLayout>

    <Button (tap)="onDialogSaveTap($event)" class="btn" text="Save"></Button>

</app-dialog-->
