<ActionBar title="Backlog">
    <ActionItem (tap)="showSlideout($event)" ios.position="right">
        <StackLayout class="navbar_image_wrapper" ios:horizontalAlignment="right">
            <Image src="res://icon_elipses_white"></Image>
        </StackLayout>
    </ActionItem>
</ActionBar>

<RadSideDrawer (drawerClosing)="onDrawerClosing($event)">
    <StackLayout tkDrawerContent>
        <GridLayout class="side-drawer-panel" rows="auto, *, 100">
            <StackLayout row="0">
                <Image src="res://rps_logo" class="slide-out-img" stretch="aspectFit"></Image>
            </StackLayout>
            <StackLayout row="1">

                <pt-menu></pt-menu>

            </StackLayout>
            <StackLayout row="2">
                <Button appLogout  text="LOGOUT" class="slide-out-btn"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout tkMainContent>

        <GridLayout class="backlog-container" rows="*, 60">

            <GridLayout row="0" class="list-container">
                <pt-list [items]="items$ | async" [isRefreshing]="isListRefreshing$ | async" (listItemSelected)="selectListItem($event)"
                    (listRefreshRequested)="onListRefreshRequested($event)"></pt-list>
            </GridLayout>

            <StackLayout row="1" class="btn-add-wrapper">
                <Button text="Add" class="btn-add" (tap)="onAddTap($event)"></Button>
            </StackLayout>

        </GridLayout>

    </StackLayout>
</RadSideDrawer>
