<GridLayout rows="50, *">
    <StackLayout row="0">
        <Button [nsRouterLink]="['/auth', 'login']" [text]="'modules.auth.pages.auth.login' | translate"></Button>
        <Button [nsRouterLink]="['/auth', 'register']" [text]="'modules.auth.pages.auth.register' | translate"></Button>
    </StackLayout>

    <StackLayout [ngSwitch]="action" row="1">
        <ng-template [ngSwitchCase]="'login'">
            <pt-login-form (loginInitiated)="onLogin($event)"></pt-login-form>
        </ng-template>
        <ng-template [ngSwitchCase]="'register'">
            <pt-register-form (registerInitiated)="onRegister($event)"></pt-register-form>
        </ng-template>
    </StackLayout>
</GridLayout>
